.receipt-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.receipt-container h2,
.receipt-container h4 {
    text-align: center;
}

.receipt-container p {
    margin: 10px 0;
    line-height: 1.5;
}


.button-container {
    text-align: center; /* 버튼을 중앙 정렬합니다. */
    margin-top: 20px; /* 버튼 위에 마진을 추가합니다. */
}

.custom-button {
    padding: 10px 20px; /* 버튼의 패딩을 설정합니다. */
    background-color: #4CAF50; /* 버튼의 배경색을 설정합니다. */
    color: white; /* 버튼의 텍스트 색상을 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    border-radius: 5px; /* 버튼의 모서리를 둥글게 합니다. */
    cursor: pointer; /* 마우스 오버 시 커서를 포인터로 변경합니다. */
    font-size: 16px; /* 텍스트 크기를 설정합니다. */
}

.custom-button:hover {
    background-color: #45a049; /* 마우스 오버 시 버튼의 배경색을 변경합니다. */
}