/* 전체 컨텐츠 스타일링 */
.contents {
    padding: 20px;
}

/* 광고창 스타일링 */
.ad-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.ad-box img {
    width: 60%;
    height: 60%;
    display: block; /* 이미지를 가운데로 정렬하기 위해 display: block; 추가 */
    margin: auto; /* 이미지를 수평으로 가운데 정렬하기 위해 margin: auto; 추가 */
}
/* 검색창 스타일링 */
.search-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box .input-group {
    width: 60%;
    position: relative;
    margin-right: 10px;
    height: 38px;
}

.search-box .input-group .form-control {
    width: 100%;
}


.search-box .btn-search {
    height: 38px;
    width: auto;
    padding: 5px 12px;
}

.search-button {
    height: 38px;
    margin-left: 5px;
}

/* 카테고리 스타일링 */
.category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 카테고리 아이템 사이의 여백을 균등하게 분포 */
    margin: 20px 0; /* 상단과 하단 마진 조정 */
}

.category-item {
    flex: 0 0 calc(20% - 20px); /* 5개의 아이템이 한 줄에 들어가도록 설정 (전체 너비의 20%에서 각 아이템 사이의 마진을 빼줌) */
    margin: 10px; /* 아이템 사이의 간격 */
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 수직으로 나열 */
    align-items: center; /* 내용을 중앙 정렬 */
}

.category-img {
    width: 100%; /* 이미지 너비를 부모 요소에 맞춤 */
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
    margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 */
}

.category-name {
    margin: 0; /* 이름 주위의 마진 제거 */
    padding: 5px 0; /* 이름에 패딩 추가 */
}

/* 반응형 디자인 조정 */
@media (max-width: 768px) {
    .category-item {
        flex: 0 0 calc(50% - 20px); /* 화면이 작을 때 2개의 아이템이 한 줄에 들어가도록 설정 */
    }
}

@media (max-width: 480px) {
    .category-item {
        flex: 0 0 calc(100% - 20px); /* 화면이 더 작을 때 1개의 아이템이 한 줄에 들어가도록 설정 */
    }
}